#!/usr/local/bin/bash

# 1 or 2
export DO_API_VERSION=

export DO_API_KEY=
export DO_CLIENT_ID=
export DO_API_TOKEN=

export DO_SSH_KEY_ID=
export DO_SIZE_ID=
export DO_REGION_ID=
export DO_IMAGE_ID=
export DO_WAIT_TIMEOUT=

export DO_REDIS_HOST=
export DO_REDIS_PORT=
export DO_REDIS_DB=
